{% extends "main/base.html" %}

{% block title %}Change Password{% endblock title %}

{% block content %}
<div class="container mt-4">
    <h2>Change Password</h2>
    <form method="post">
        {% csrf_token %}
        {{ password_form.as_p }}
        <button type="submit" class="btn btn-primary mt-2">Change Password</button>
    </form>

    {% if messages %}
    <script>
        {% for message in messages %}
            Swal.fire({
                title: '{% if message.tags == "error" %}Error{% else %}Success{% endif %}',
                text: '{{ message }}',
                icon: '{% if message.tags == "error" %}error{% else %}success{% endif %}',
                confirmButtonText: 'OK'
            });
        {% endfor %}
    </script>
    {% endif %}
</div>
{% endblock content %}