{% extends "main/base.html" %}

{% load static %}
{% block title %}AboutUs{% endblock title %}

{% block css %}

{{ block.super }}

<link rel="stylesheet" href="{% static "css/aboutus.css" %}">

{% endblock css %}



{% block content %}

<section>

    <div class="wrapper1">
    
        <div class="image1">
            <img src="{% static 'photos/house.jpg' %}" alt="">
        </div>
    
        <div class="content1">
            <h2>About Us</h2>
            <p>At Grihalaya Sewa, we are dedicated to providing high-quality, comfortable, and affordable rental homes to our clients. Our mission is to make the process of finding a rental home as seamless and stress-free as possible. Whether you're looking for a cozy apartment or a spacious house, we have a variety of options to meet your needs.</p><br>
            <p>Founded with the vision of simplifying the housing rental market, Grihalaya Sewa offers a wide range of properties, from city apartments to family homes in suburban areas. We pride ourselves on our exceptional customer service, ensuring that every client feels supported throughout their rental journey.</p><br>
    
            <p>We believe that finding a place to live should be an exciting and positive experience. That's why we've created a platform where landlords and renters can connect easily, browse available properties, and make informed decisions.</p>
        </div>
    
    </div>
    
    </div>
    
    
        <div class="wrapper1">
            <div class="content1">
                <h2>Our Mission</h2>
                <p>Our mission is simple to identify i.e. what you are searching for and provide withbest solution and match. Whether it’s your first house purchase, selling, renting, or just learning about real estate, we are here to assist you in every step.</p><br>
    
                <p>
                    <ul>
                        <li>Provides a one-stop platform for all rental needs, catering to landlords and tenants alike.</li>
                        <li>Landlords can easily list their properties with easy access of Grihalaya Sewa.</li>
                        <li>Tenants can directly contact and negotiate with the sellers.</li>
                    </ul>
                </p>
                
            </div>
            <div class="image2">
                <img src="{% static 'photos/h2.jpg' %}" alt="">
            </div>
        </div>
</section>

{% endblock content %}

