{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About Us - Grihalaya Sewa</title>
    <link rel=stylesheet href="{% static 'css/aboutus.css' %}">
</head>
<body>
    <div class="container">
        <header>
            <a href="#" class="logo">
                <img src="{% static 'photos/logo.jpg' %}" alt="">
            </a>
            <ul class="navbar">
            <li><a href="{% url "home" %}">Home</a></li>
            <li><a class="active" href="{% url "aboutus" %}">About Us</a></li>
            <li><a href="{% url "buying" %}">Buying</a></li>
            <li><a href="{% url "selling" %}">Selling</a></li>
            <li><a href="{% url "contactus" %}">Contact Us</a></li>
            </ul>
            <div class="h-btn">
                <a href="{% url "login" %}"  class="h-btn1">Login</a>
                <a href="{% url "signup" %}"  class="h-btn2">Sign Up</a>
                <div class="bx bx-menu" id="menu-icon"></div>
            </div>
         </header>
        
        <div class="wrapper">
            <div class="image">
                <img src="{% static 'photos/house.jpg' %}" alt="">
            </div>
        <div class="content">
            <h2>About Us</h2>
            <p>At Grihalaya Sewa, we are dedicated to providing high-quality, comfortable, and affordable rental homes to our clients. Our mission is to make the process of finding a rental home as seamless and stress-free as possible. Whether you're looking for a cozy apartment or a spacious house, we have a variety of options to meet your needs.</p><br>
            <p>Founded with the vision of simplifying the housing rental market, Grihalaya Sewa offers a wide range of properties, from city apartments to family homes in suburban areas. We pride ourselves on our exceptional customer service, ensuring that every client feels supported throughout their rental journey.</p><br>

            <p>We believe that finding a place to live should be an exciting and positive experience. That's why we've created a platform where landlords and renters can connect easily, browse available properties, and make informed decisions.</p>
        </div>
       
    </div>
    </div>
    <hr>

    <div class="container1">
        <div class="wrapper1">
        <div class="content1">
            <h2>Our Mission</h2>
            <p>Our mission is simple to identify i.e. what you are searching for and provide withbest solution and match. Whether it’s your first house purchase, selling, renting, orjust learning about real estate, we are here to assist you in every step.</p><br>

            <p>Buyer can directly contact and negotiate with the sellers. 
            
        </div>
        <div class="image1">
            <img src="{% static 'photos/h2.jpg' %}" alt="">
            
        </div>
    </div>
    </div>

    <!-- <div class="container">
        <header>
            <h1>About Grihalaya Sewa</h1>
        </header>
        <section class="content">
            <img src="photos/house.jpg">
            <p>At Grihalaya Sewa, we are dedicated to providing high-quality, comfortable, and affordable rental homes to our clients. Our mission is to make the process of finding a rental home as seamless and stress-free as possible. Whether you're looking for a cozy apartment or a spacious house, we have a variety of options to meet your needs.</p><br>
            
            <p>Founded with the vision of simplifying the housing rental market, Grihalaya Sewa offers a wide range of properties, from city apartments to family homes in suburban areas. We pride ourselves on our exceptional customer service, ensuring that every client feels supported throughout their rental journey.</p>

            <p>We believe that finding a place to live should be an exciting and positive experience. That's why we've created a platform where landlords and renters can connect easily, browse available properties, and make informed decisions.</p>
        </section>
        <section class="container2">
            Our Mission
Our mission is simple to identify i.e. what you are searching for and provide withbest solution and match. Whether it’s your first house purchase, selling, renting, orjust learning about real estate, we are here to assist you in every step.

Buyer can directly contact and negotiate with the sellers. Ghar sansar won’t takeresponsibility if any wrong information provided by Seller. -->
        </section>
        

        <!-- <section class="team">
            <h2>Meet Our Team</h2>
            <div class="team-members">
                <div class="member">
                    <img src="" alt="Team Member 1">
                    <h3>Rockey Kusatha</h3>
                    <p></p>
                </div>
                <div class="member">
                    <img src="" alt="Team Member 2">
                    <h3>Sanju Nagarkoti</h3>
                    <p></p>
                </div>
                
            </div>
        </section> -->

        <footer>
            <p>&copy; 2024 Grihalaya Sewa. All rights reserved.</p>
        </footer>
    </div>
</body>
</html>