{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grihalaya Sewa</title>
    <link rel=stylesheet href="{% static 'css/mycss.css' %}">
    <!-- box icons -->
    <link rel="stylesheet"
  href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
  <!-- google fonts links -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <!-- header -->
     <header>
        <a href="#" class="logo">
            <img src="{% static 'photos/logo.jpg' %}" alt="">
        </a>
        <ul class="navbar">
        <li><a href="#">Home</a></li>
        <li><a href="/aboutus.html">About Us</a></li>
        <li><a href="#">Buying</a></li>
        <li><a href="#">Renting</a></li>
        <li><a href="/rent.html">Selling</a></li>
        <li><a href="/c.html">Contact Us</a></li>
        </ul>
        <div class="h-btn">
            <a href="#"  class="h-btn1">Login</a>
            <a href="signup.html"  class="h-btn2">Sign Up</a>
            <div class="bx bx-menu" id="menu-icon"></div>
        </div>
     </header>
     <!-- home section -->
      <section class="home">
        <div class="home-text">
            <h1>Live in your dream home!</h1>
            <p>Home is the dream of every person where they not only stay but create a beautiful memory and attachments.Grihalaya Sewa is the online platform where every person can find a dream home.</p>
    
        <div class="h-search">
            <form>
                <input type="search" placeholder="Search by location..." class="search-input">
                <input type="submit" value="Search">
            </form>
        </div>
        </div>
        <div class="home-img">
            <img src="{% static 'photos/home.png.jpg' %}" alt="">
        </div>
      </section>
    
       <!-- property section -->
        <section class="property">
            <div class="center-left">
                <h2>Popular Residence</h2>
            </div>
            <div class="property-content">
                <div class="row">
                    <img src="{% static 'photos/house.jpg.jpg' %}" alt="">
                    <p>Sipadol,Bhaktaur</p>
                    <div class="list">
                        <a href="#" class="Residence-List">
                            <i class='bx bx-bed'></i>
                            4 Bed
                        </a>
                        <a href="#" class="Residence-List">
                            <i class='bx bx-bath'></i>
                            2 Bath
                        </a>
                        <a href="#" class="Residence-List">
                            <i class='bx bx-shape-square'></i>
                           1203 sqft
                        </a>
                    </div>
                    
                </div>
                <div class="row">
                    <img src="{% static 'photos/h2.jpg.jpg' %}" alt="">
                    <p>Lokanthali,Bhaktapur</p>
                    <div class="list">
                        <a href="#" class="Residence-List">
                            <i class='bx bx-bed'></i>
                            8 Bed
                        </a>
                        <a href="#" class="Residence-List">
                            <i class='bx bx-bath'></i>
                            6 Bath
                        </a>
                        <a href="#" class="Residence-List">
                            <i class='bx bx-shape-square'></i>
                           1909 sqft
                        </a>
                    </div>
                    
                </div>
                <div class="row">
                    <img src="{% static 'photos/h3.jpg.jpg' %}" alt="">
                    <p>Dekocha,Bhaktapur</p>
                    <div class="list">
                        <a href="#" class="Residence-List">
                            <i class='bx bx-bed'></i>
                            10 Bed
                        </a>
                        <a href="#" class="Residence-List">
                            <i class='bx bx-bath'></i>
                            5 Bath
                        </a>
                        <a href="#" class="Residence-List">
                            <i class='bx bx-shape-square'></i>
                           1203 sqft
                        </a>
                    </div>
                    
                </div>
            </div>
            <div class="center-btn">
                <a href="#" class="btn">View All Properties</a>
            </div>
        </section>

        <!-- about section -->
         <section class="about">
            <div class="about-img">
                <img src="photos/Group 1.png">
            </div>
            <div class="about-text">
                <h2>We Help People To Find Homes </h2>
                <p>Grihalaya Sewa is the online websites designed to solve the problem of every person trying to find a reliable home and landlords to rent a house. This website mainly focuses on connecting landlords and renters.The objective of Grihalaya Sewa is to create a user-friendly home rental platform that streamlines the process of renting properties, providing both landlords and tenants with a reliable, accessible, and transparent digital solution.</p>
                <a href="c.html" class="btn">Get In Touch</a>
            </div>
         </section>
         <!-- subbscribe -->
          <section class="Subscribe">
            <div class="Subscribe-content">
                <h2>Let's Simply Being With Rentiz</h2>
                <p>Grihalaya Sewa project aims to develop a sophisticated rental platform with powerful algorithms for personalized matching, dynamic pricing, and vacancy prediction, thereby streamlining the rental process for both tenants and landlords. </p>
                <a href="login.html" class="btn">Get Started</a>
            </div>
          </section>
          <!-- contact -->
           <section class="contact">
          
            <div class="contact-content">
                <h4>Projects</h4>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Houses for Buy</a></li>
                <li><a href="#">Renting Properties</a></li>
                <li><a href="#">Selling Properties</a></li>
                <li><a href="#">Contact Us</a></li>

            </div>
            <div class="contact-content">
                <h4>Projects</h4>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Houses for Buy</a></li>
                <li><a href="#">Renting Properties</a></li>
                <li><a href="#">Selling Properties</a></li>
                <li><a href="#">Contact Us</a></li>

            </div>
            <div class="contact-content">
                <h4>Projects</h4>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Houses for Buy</a></li>
                <li><a href="#">Renting Properties</a></li>
                <li><a href="#">Selling Properties</a></li>
                <li><a href="#">Contact Us</a></li>

            </div>
            <div class="contact-content">
                <h4>Projects</h4>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Houses for Buy</a></li>
                <li><a href="#">Renting Properties</a></li>
                <li><a href="#">Selling Properties</a></li>
                <li><a href="#">Contact Us</a></li>

            </div>
            <div class="contact-content">
                <img src="photos/logo.jpg">
                <p>Grihalaya Sewa</p>
                <div class="icons">
                    <a href="#"><i class='bx bxl-facebook' ></i></a>
                    <a href="#"><i class='bx bxl-instagram-alt'></i></a>
                    <a href="#"><i class='bx bxl-whatsapp'></i></a>
                    <a href="#"><i class='bx bxl-linkedin'></i></a>
                </div>
            </div>
            
           </section>
       <!-- js file -->
        <script src="script.js">

        </script>
    
</body>
</html>

   
    <img src="{% static 'images/img.jpg' %}" alt="">


    <script src="{% static 'js/myjs.js' %}"></script>
</body>
</html>